<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Trang báo lỗi</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js">
</head>
<body>
<h1 style="color: red"> Bạn không có quyền truy cập</h1>

<button type="button" class="btn btn-primary">
    <a href="http://localhost:8080"> Quay lại trang chủ </a>
</button>


</body>

<script src="../../../js/bootstrap.min.js"></script>


</html>
