<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <head>
        <title>Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{datatables/css/dataTables.bootstrap4.min.css}"/>
    </head>
<body>
<h2> Product</h2>
<p>
    <a th:href="@{/create}">
        Add new Product
    </a>
</p>
<p>
    <a th:href="@{/product}">
        Product list
    </a>
</p>

<table id="products">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,loop : ${listProduct}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a href="#" th:attr="onclick=|customerIndex('${product.id}','${product.name}')|"
               data-toggle="modal"
               data-target="#delete">
                Delete
            </a>
        </td>
    </tr>

    <div class="modal" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="name"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" onclick="customerIndex2()">
                        <a class="text-white">Xóa</a>
                    </button>
                    <button type="button" class="btn btn-dark " data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
<script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>

<script>
    var id;

    function customerIndex(index, name) {
        id = index;
        document.getElementById("name").innerHTML = "bạn có muốn xóa không ? <br>" + name;
    };

    function customerIndex2() {
        link = "/product/delete/" + id;
        window.location.href = link;
    };
</script>
</html>