<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product}">
        Back to Product list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="cusdetail">
        <label>Status:</label>
        <label th:text="${product.status}"></label>
    </div>
    <div class="cusdetail">
        <label>Producer:</label>
        <label th:text="${product.producer}"></label>
    </div>
    <div class="cusdetail">
        <label>StatusDelete:</label>
        <label th:text="${product.statusDelete}"></label>
    </div>
</div>
</body>
</html>

